<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @situation.description %>
</p>

<%= link_to 'Edit', edit_situation_path(@situation) %> |
<%= link_to 'Back', situations_path %>
