<h1>Home#index</h1>
<div>
	<ul>
		<li><%=link_to "Editar minha Conta", edit_user_registration_path %></li>
		<li><%=link_to "Todos os Pedidos", refunds_path %></li>
		<li><%=link_to "Logout", cancel_user_registration_path %></li>
	</ul>
</div>
